                                            /*POLICE*/
@font-face
{
	font-family: 'raleway' ,sans-serif;
} 

body
{
    font-family: 'raleaway',Arial,sans-serif;
    font-size: 16px;
    color: black;
}

h3
{
    display: flex;
    flex-wrap: wrap;
    font-size: medium;
}
                                            /*HEAD*/
header
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-between;
}

#Logo img                                /*logo reservia*/
{
    width: 100px;
    height: 50px;
}

nav.conteneur                            /*la liste: hebergements, activités, s'inscrire */
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    
}
                                        /*style la liste: hebergements,...*/
nav ul                                      
{
    list-style-type: none;
    display:flex;
}

nav li a 
{
    padding-top: 20px;
    padding-right: 10px;
}
nav li a:hover 
{
    border-top: solid 2px #0065FC;
    text-decoration: none;
    
}

h1                                     /* titre: Trouver votre hébergement*/
{
    font-weight: bold;
}

.icone-recherche                        /*icone et bouton recherche*/
{
display: flex;
flex-wrap: wrap;
flex-direction: row;
height:30px;
color: #0065FC;
}

button                                      /*bouton*/
{
color:white;
background-color:#0065FC;
}

.allfiltres                             /*la ligne "filtres" */
{
display:flex;
flex-wrap: wrap;
flex-direction: row;
align-items: center;
justify-content:flex-start;
} 
.iconemot                               /* icone et le mot*/
{
display: flex;
flex-direction: row;
border: 2px solid whitesmoke;
margin: 12px;
align-items: center;
height: 35px;
width: auto;
border-top-right-radius: 19px 50%;
border-bottom-right-radius: 19px 50%;
border-top-left-radius: 19px 50%;
border-bottom-left-radius: 19px 50%;
}
.fas.fa-heart 
{
    padding-left: 3px;
    padding-right: 3px;
}
.iconemot:hover                         /*STYLE HOVER*/
{   
    background-color: whitesmoke;
    transform: scale(1.015);
    cursor: pointer;
    transition-duration: 0.2s;
}


.mot                                 /* mots: eco, fami, etc*/
{
margin: 1px;
padding: 6px;

}

.eco                                   /*icone eco*/
{
    border:2px solid #deebff; 
    border-radius:50%;
    margin: -2px;
    padding: 8px;
    background-color: #deebff;
    color: #0065FC;
}

.Familial                           /*icone Familial*/
{
    border:2px solid #deebff; 
    border-radius:50%;
    margin: -2px;
    padding: 8px;
    background-color: #deebff;
    color: #0065FC;
    padding-left: 11px;
    padding-right: 11px;
}

.Romantique                         /*icone romantique*/
{
    border:2px solid #deebff; 
    border-radius:50%;
    margin: -2px;
    padding: 8px;
    background-color: #deebff;
    color: #0065FC;
}
.Dog                                /*icone chien*/
{
    border:2px solid #deebff; 
    border-radius:50%;
    margin: -2px;
    padding: 8px;
    background-color: #deebff;
    color: #0065FC;
}
.iconeinfo                          /*icone et info*/
{
    display: flex;
    flex-direction: row;
}

.all-hebergements                   /* HEBERGEMENTS et ASIDE */
{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.block-first                        /* Premier block heberg...*/
{   
    display: flex;
    flex-wrap: wrap;
    background: whitesmoke;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px lightgrey;
    width: 60%;
}
.container-ads
{   
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 87%;
}

.block-ad
{
    background: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: column;
    height: 205px;
    width: 240px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px lightgrey;
}

.block.block-ad:hover 
{
    transform: scale(1.015);
    cursor: pointer;
    transition-duration: 0.2s;
}

.img-ad
{
    position: relative;
    flex: 1;
    z-index: 15;
}

.img-ad-cropped
{
    position: absolute;
    height: 120px;
    width: 240px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    object-fit: cover;
}
.block-ad> div
{

}
.block-ad> h3
{
    padding-left: 5px;
    padding-right: 0px;
    padding-top: 5px;
    padding-bottom: 0px;
}
                                                /*  SIDE  */
.container-aside
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    row-gap: 15px;
    width: 100%;
    height: 89%;
}
.aside
{
    background: whitesmoke;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px lightgrey;
    width: 27%;
    
}
.img-side
{
    position:relative;
    flex:1;
    z-index:15;
}

.img-ad-cropped-side
{
    position: absolute;
    height:140px;
    width: 140px;
    border-bottom-left-radius: 20px;
    border-top-left-radius:20px;
}

.block-side
{
    background: white;
    padding:5px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px lightgrey;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 140px;
}
.block-side:hover 
{
    transform: scale(1.015);
    cursor: pointer;
    transition-duration: 0.2s;
}



                                                /*  ACTIVITES  */
.img-act
{
    position:relative;
    flex:1;
    z-index:15;
    width: 300px;
}
.img-ad-act
{
    position: absolute;
    height: 120px;
    width: 240px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    object-fit: cover;
}
.container-activites
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 20px;
}
.container-activites:nth-child(3n+1)
{
    height: 400px;
    width: 200px;
}

.block-ac
{
    background: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: column;
}
.block-activites
{   
    background: whitesmoke;
    padding:16px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px lightgrey;
}

.block-ac.block-activites:hover
{
    transform: scale(1.015);
    cursor: pointer;
    transition-duration: 0.2s;
}
                                                /*     FOOTER      */

.flexbox-footer 
{
    background: whitesmoke;
    position: absolute;
    width: 100%;
    height: 16rem;
    display: flex;
    justify-content:space-around;
    padding: 32px 0 0 0;
}
.nav-footer li 
{
    list-style-type: none;
    font-size: 15px;
    padding: 8px;
}
    
.nav-footer a 
{
    color: black;
    text-decoration: none;
}
    
.nav-footer a:hover 
{
    text-decoration: underline;
}

                                    /*       SCREEN      */
                                    
@media only screen and (min-width: 992px)
{


  }
  
@media only screen and (min-width: 576px) and (max-width: 992px) 
{
    
    
}

  @media only screen and (min-width: 0px) and (max-width: 576px) 
  {

  }