                                            /*POLICE*/
@font-face
{
	font-family: 'raleway' ,sans-serif;
} 

body
{
    font-family: 'raleaway',Arial,sans-serif;
    font-size: 16px;
    color: black;
}

h1                                    
{
    font-weight: bold;
}

h2
{
    padding-bottom: 10px;
    font-weight: bold;
}
h3
{
    display: flex;
    flex-wrap: wrap;
    font-size: medium;
}
h4
{
    font-size: medium;
    font-weight: bold;
}
h5
{
    font-weight: bold;
    padding: 15px;
}
h6
{
    font-size: 24px;
    font-weight: bold;
    padding-top: 50px;
    padding-left: 20px;
    margin: 0px;
}
h7
{
    font-weight: bold;
    padding-left:1px;
    padding-top: 1px;
    padding-bottom:1px;
}
                                            /*HEAD*/
header
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-between;
}

#Logo img                                /*logo reservia*/
{
    width: 100px;
    height: 50px;
}

nav.conteneur                            /*la liste: hebergements, activités, s'inscrire */
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    
}
                                        /*style la liste: hebergements,...*/
nav ul                                      
{
    list-style-type: none;
    display:flex;
}

nav li a 
{
    padding-top: 20px;
    padding-right: 10px;
}
nav li a:hover 
{
    border-top: solid 2px #0065FC;
    text-decoration: none;
    
}

.icone-recherche                        /*icone et bouton recherche*/
{
display: flex;
flex-wrap: wrap;
flex-direction: row;
height:30px;
color: #0065FC;
}

button                                      /*bouton*/
{
color:white;
background-color:#0065FC;
}

.allfiltres                             /*la ligne "filtres" */
{
display:flex;
flex-wrap: wrap;
flex-direction: row;
align-items: center;
justify-content:flex-start;
} 
.iconemot                               /* icone et le mot*/
{
display: flex;
flex-direction: row;
border: 2px solid whitesmoke;
margin: 12px;
align-items: center;
height: 35px;
width: auto;
border-top-right-radius: 19px 50%;
border-bottom-right-radius: 19px 50%;
border-top-left-radius: 19px 50%;
border-bottom-left-radius: 19px 50%;
}
.fas.fa-heart 
{
    padding-left: 3px;
    padding-right: 3px;
}
.iconemot:hover                         /*STYLE HOVER*/
{   
    background-color: whitesmoke;
    transform: scale(1.015);
    cursor: pointer;
    transition-duration: 0.2s;
}


.mot                                 /* mots: eco, fami, etc*/
{
margin: 1px;
padding: 6px;

}

.eco                                   /*icone eco*/
{
    border:2px solid #deebff; 
    border-radius:50%;
    margin: -2px;
    padding: 8px;
    background-color: #deebff;
    color: #0065FC;
}

.Familial                           /*icone Familial*/
{
    border:2px solid #deebff; 
    border-radius:50%;
    margin: -2px;
    padding: 8px;
    background-color: #deebff;
    color: #0065FC;
    padding-left: 11px;
    padding-right: 11px;
}

.Romantique                         /*icone romantique*/
{
    border:2px solid #deebff; 
    border-radius:50%;
    margin: -2px;
    padding: 8px;
    background-color: #deebff;
    color: #0065FC;
}
.Dog                                /*icone chien*/
{
    border:2px solid #deebff; 
    border-radius:50%;
    margin: -2px;
    padding: 8px;
    background-color: #deebff;
    color: #0065FC;
}
.iconeinfo                          /*icone et info*/
{
    display: flex;
    flex-direction: row;
}

.all-hebergements                   /* HEBERGEMENTS et ASIDE */
{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.block-first                        /* Premier block heberg...*/
{   
    display: flex;
    flex-wrap: wrap;
    background: whitesmoke;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px lightgrey;
    width: 60%;
}
.container-ads
{   
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 87%;
}

.block-ad
{
    background: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: column;
    height: 205px;
    width: 240px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px lightgrey;
}

.block.block-ad:hover 
{
    transform: scale(1.015);
    cursor: pointer;
    transition-duration: 0.2s;
}

.img-ad
{
    position: relative;
    flex: 1;
    z-index: 15;
}

.img-ad-cropped
{
    position: absolute;
    height: 120px;
    width: 240px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    object-fit: cover;
}

                                                /*  SIDE  */
.container-aside
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    row-gap: 15px;
    width: 100%;
    height: 89%;
}
.aside
{
    background: whitesmoke;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px lightgrey;
    width: 27%;
    
}
.img-side
{
    position:relative;
    flex:1;
    z-index:15;
}

.img-ad-cropped-side
{
    position: absolute;
    height:140px;
    width: 140px;
    border-bottom-left-radius: 20px;
    border-top-left-radius:20px;
}

.block-side
{
    background: white;
    padding:5px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px lightgrey;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 140px;
}
.block-side:hover 
{
    transform: scale(1.015);
    cursor: pointer;
    transition-duration: 0.2s;
}



                                                /*  ACTIVITES  */


.container-activites
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 20px;
    height: auto;
    width: 100%;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.block-activite1 
{   
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: whitesmoke;
    border-radius: 20px;
    box-shadow: 2px 2px 5px lightgrey;
    align-items: center;
    width: 23%;
    height: 430px;
}
.img-act1
{
    color: black;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    box-shadow: 1px 1px 12px #f2f2f2;
    text-decoration: none;
}
.img-ad-act1 
{
    width: 100%;
    height: 88%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.block-act23
{
    width: 23%;
    height: 430px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.block-activite2 
{   
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 2px 2px 5px lightgrey;
    width: 100%;
    height: 47%;
    align-items: flex-end;
    text-decoration: none;
    background-color: whitesmoke;
}
.img-act2
{
    color: black;
    display: flex;
    flex-direction: column;
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 100%;
    align-content: flex-end;

}
.img-ad-act2
{
    width: 100%;
    height: 80%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.block-activite3 
{   
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 2px 2px 5px lightgrey;
    width: 100%;
    height: 47%;
    align-items: flex-end;
    text-decoration: none;
    background-color: whitesmoke;
}
.img-act3
{
    color: black;
    display: flex;
    flex-direction: column;
    border-radius: 20px 20px 20px 20px;
    width: 100%;
    height: 100%;
    align-content: flex-end;
}
.img-ad-act3
{
    width: 100%;
    height: 80%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}
.block-activite4
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: whitesmoke;
    border-radius: 20px;
    box-shadow: 2px 2px 5px lightgrey;
    align-items: center;
    width: 23%;
    height: 430px;
}
.img-act4
{
    color: black;
    display: flex;
    flex-direction: column;
    border-radius: 20px 20px 20px 20px;
    width: 100%;
    height: 100%;
    box-shadow: 1px 1px 12px #f2f2f2;
    text-decoration: none;
}
.img-ad-act4
{
    width: 100%;
    height: 88%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}
.block-act56
{
    width: 23%;
    height: 430px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.block-activite5 
{   
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 2px 2px 5px lightgrey;
    width: 100%;
    height: 47%;
    align-items: flex-end;
    text-decoration: none;
    background-color: whitesmoke;
}
.img-ad-act5
{
    width: 100%;
    height: 80%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}
.img-act5
{
    color: black;
    display: flex;
    flex-direction: column;
    border-radius: 20px 20px 20px 20px;
    width: 100%;
    height: 100%;
    align-content: flex-end;
}
.block-activite6
{   
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 2px 2px 5px lightgrey;
    width: 100%;
    height: 47%;
    align-items: flex-end;
    text-decoration: none;
    background-color: whitesmoke;
}
.img-act6
{
    color: black;
    display: flex;
    flex-direction: column;
    border-radius: 20px 20px 20px 20px;
    width: 100%;
    height: 100%;
    align-content: flex-end;
}
.img-ad-act6
{
    width: 100%;
    height: 80%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.block-activite:hover
{
    transform: scale(1.015);
    cursor: pointer;
    transition-duration: 0.2s;
}
                                                /*     FOOTER      */

.footer 
{
    max-width: 100%;
    margin: 0px;
    background-color: #F2F2F2;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.nav-footer
{
    display: flex;
    flex-direction: column;
    padding: 20px 86px;
    margin: 0px 80px 0px 0px;
}
.nav-footer li 
{
    list-style-type: none;
    font-size: 15px;
    padding: 8px;
}
    
.nav-footer a 
{
    color: black;
    text-decoration: none;
}
    
.nav-footer a:hover 
{
    text-decoration: underline;
}

                                    /*       SCREEN      */
                                    
@media only screen and (min-width: 992px)
{
.block-first
{
    width:100%;

}
.aside
{
    width: 100%;
}

}
  
@media only screen and (min-width: 576px) and (max-width: 992px) 
{
    .block-first
    {
        width:100%;
    
    }
    .aside
    {
        width: 100%;
    }
      
    
}

@media only screen and (min-width: 0px) and (max-width: 576px) 
{
    .block-first
    {
        width:100%;
    
    }
    .aside
    {
        width: 100%;
    }
    
}