header
{
    display: flex;
    flex-direction: row;
    justify-content:space-between
}

#Logo img /*logo reservia*/
{
    width: 100px;
    height: 50px;
}

nav.conteneur /*la liste: hebergements, activités, s'inscrire */
{
    display: flex;
    flex-direction: row;
    
}

nav ul
{
    list-style-type: none;
    display:flex;
}

nav li
{
    margin-right: 20px;
}

h1 /* titre: Trouver votre hébergemnt*/
{
    font-weight: bold;
}

.icone-recherche /*icone et bouton recherche*/
{
display: flex;
flex-direction: row;
height:30px;
color: #0065FC;
}

button /*bouton*/
{
color:white;
background-color:#0065FC;
}

.allfiltres /*la ligne "filtres" */
{
display:flex;
flex-direction: row;
align-items: center;
}

.iconemot /* icone et le mot*/
{
display: flex;
flex-direction: row;
border: 2px solid #0065FC;
border-radius: 40%;
margin: 6px;
padding: 8px;
align-items: center;
height: 25px;
}


.mot /* mots: eco, fami, etc*/
{
margin: 2px;
padding: 6px;
}


.eco /*icone eco*/
{
    border:2px solid #0065FC; 
    border-radius:50%;
    margin: 6px;
    padding: 8px;
    background-color: #deebff;
}
.Familial
{
    border:2px solid #0065FC; 
    border-radius:50%;
    margin: 6px;
    padding: 8px;
    background-color: #deebff;
}
.Romantique
{
    border:2px solid #0065FC; 
    border-radius:50%;
    margin: 6px;
    padding: 8px;
    background-color: #deebff;
}
.Dog
{
    border:2px solid #0065FC; 
    border-radius:50%;
    margin: 6px;
    padding: 8px;
    background-color: #deebff;
}
.iconeinfo /*icone et info*/
{
display: flex;
flex-direction: row;
}

.block
{
    background: whitesmoke;
    padding:16px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px lightgrey;
}
.block-ad
{
background: white;
display: flex;
flex-direction: column;
}
.all-hebergements
{
    display:grid;
    grid-template-columns:2fr 1fr;
    column-gap:24px;
}

@media only screen and (min-width:1250px)
{
    .all-herbergements
{
    
}

}

@media only screen and ( min-width: 0px) and (max-width: 1250px)
{
.all-hebergements
    {
 grid-template-columns:1fr;   
row-gap:24px;
        }
    }

.container-ads
{
display: grid;

grid-template-columns: repeat(3, 1fr);
grid-template-rows: 240px 240px;
}

.img-ad
{
    position: relative;
    flex:1;
    z-index:15;
}

.img-ad-cropped
{
position: absolute;
height:90%;
width: 90%;
border-top-right-radius: 8px;
border-top-left-radius:8px;
object-fit: cover;
}

.aside
{
display:grid;
grid-template-columns:1fr;

}

.Activités
{
    display:grid;
    grid-template-rows:1fr 1fr;
}